<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}个人博客{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='favicon.svg') }}">
</head>
<body>
    <div id="bg">
    <header>
        <h1>白影的个人博客</h1>
    </header>
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">主页</a></li>
            <li><a href="{{ url_for('projects') }}">项目群</a></li>
            <li><a href="{{ url_for('about') }}">关于网站</a></li>
        </ul>
    </nav>
    <main>
        {% block content %}
        <!-- Main content will be inserted here -->
        {% endblock %}
    </main>
    <footer>
        <p>转载声明：本博客内容仅供学习参考，未经允许请勿转载。</p>
    </footer>
    </div>
</body>
</html>
