{% extends 'base.html' %}

{% block title %}主页{% endblock %}

{% block content %}
    <h2>欢迎来到我的博客！</h2>
    <p>本站为作者闲暇时发文 同时主要为作者的项目服务</p>
    <div class="article-container">
        {% for article in articles %}
        <div class="article">
            <h2>{{ article.title }}</h2>
            <p class="modified-time">最新保存时间：{{ article.modified_time }}</p>
            <div class="content">
                {{ article.content }}
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
